/*
Template 2062 Clothing 
http://www.tooplate.com/view/2062-clothing
*/

body {
	margin: 0;
	padding: 0;
	color: #8f7b76;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.4em; 
	background-color: #d5ccbd; 
	background-image: url(images/tooplate_body.jpg);
	background-repeat: repeat-y;
	background-position: center;
}

h1, h2, h3, h4, h5, h6 {
	color:#b04b2f;
	font-weight:400;
	padding: 0;
	margin: 0 0 10px 0;
}

#titleh3{
	color:#E5E8E8
}

h1 { font-size:34px; margin-bottom: 35px  }
h2 { font-size:26px; margin-bottom: 30px; line-height: 20px; }
h3 { font-size:20px; line-height: 24px }
h4 { font-size:18px }
h5 { font-size:16px }
h6 { font-size:12px }

.left { float:left }
.right { float:right }
.clear { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h60 { height: 60px }

img { margin: 0; padding: 0; border: 0 }
.img_border { border: 1px solid #eaeaea; background: #ffffff; }
.img_border_s { padding: 3px }
.img_border_b { padding: 6px }
.img_nom { display: block; margin-bottom: 15px }
.img_fl { float: left; display: block; margin: 1px 20px 8px 0 }
.img_fr { float: right; margin: 1px 0 8px 20px }

p { margin: 0 0 10px 0; padding: 0 }
em { color: #8c8c8c }
hr { clear: both; margin-bottom: 40px; padding-top: 28px; border: none; background: url(images/tooplate_hr.png) center bottom no-repeat }

label { display: block; }
input { margin-bottom: 10px }

a:link, a:visited { color:#9b412d; text-decoration: none}
a:hover { text-decoration:underline }
a:hover,a:active { outline:none }

a.more { display: block; margin-top: 15px; color: #485c68; width: 69px; height: 24px; line-height: 24px; text-align: center; background: url(images/tooplate_more.png) }

a.button { display: inline-block; padding: 5px 10px; background: #9b6150; border: 1px solid #fff; color: #fff; font-weight: 700 }
a.button:hover { background: #842d1c; border: 1px solid #fff }

a.button, a.more { text-decoration: none }

ul.nobullet { margin: 0; padding: 0; list-style: none }
ul.nobullet li { margin: 0; padding: 0 }

ul.list_bullet { margin: 10px 0 10px 15px; padding: 0; list-style: none }
ul.list_bullet li { color:#4a545a; margin: 0 0 7px 0; padding: 0 0 0 20px; background: url(images/tooplate_bullet.png) no-repeat scroll 0 5px  }
ul.list_bullet li a { color: #4a545a; font-weight: normal; text-decoration: none }
ul.list_bullet li a:hover { color: #4a545a }

#tooplate_wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
}

#tooplate_header {
	height: 90px;
	margin-bottom: 20px;
	background: url(images/tooplate_header.png) no-repeat
}

#header_top {
	padding: 10px 30px;
	height: 30px;
}
#header_bottom {
	padding: 8px 40px;
	height: 24px;
	line-height: 24px;
	color: #ccc
}

#tooplate_slider { position: relative; padding: 0; margin: 0 30px 20px; width: 900px; height: 290px; }
#tooplate_slider span.frame { position: absolute; z-index: 100; width: 900px; height: 290px; top: 0; left: 0; background: url(images/tooplate_slider_frame.png) no-repeat }

#tooplate_main {
	padding: 30px 15px;
	position: relative;
	margin-bottom: 20px;
	background: url(images/tooplate_main_m.png) repeat-y
}
#tooplate_main .main_border {
	position: absolute;
	left: 0;
	width: 960px;
	height: 10px;
}
#tooplate_main .main_border_t {
	top: -10px;
	background: url(images/tooplate_main_t.png)
}
#tooplate_main .main_border_b { 
	bottom: -10px;
	background: url(images/tooplate_main_b.png)
}

#tooplate_bottom_wrapper {
	width: 100%;
	background: #c58877 url(images/tooplate_bottom.png) repeat-x top
}
#tooplate_bottom {
	width: 930px;
	margin: 0 auto;
	padding: 10px 15px 0;
	color: #ece6dd
}

#tooplate_footer_wrapper {
	width: 100%;
	background: url(images/tooplate_footer.png) repeat-x top
}

#tooplate_footer {
	width: 930px;
	margin: 0 auto;
	padding: 10px 15px 10px;
	text-align: center;
}

#content { width: 590px; float: left; margin: 0 15px }
#sidebar { width: 280px; float: right; margin: 0 15px }
.col { float: left; margin: 0 15px 30px 15px; }
.col_1 { width: 900px }
.col_2 { width: 435px }
.col_3 { width: 280px }
.col_32 { width: 590px }
.col_4 { width: 202px; }
.col_43 { width: 667px }

#site_title { float: left; }
#site_title a { display: block; font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif; width: 250px; height: 30px;}

#tooplate_menu { float: right }

#header_bottom a { color: #fff }
#header_bottom p { float: left; width: 500px }
#header_bottom p span { color: #fac81b }

#tooplate_search { float: right; width: 250px; height: 24px; background: url(images/tooplate_search.png) }
#tooplate_search form {
	margin: 0;
	padding: 0;
}

#tooplate_search .txt_field {
	float: left;
	display: block;
	height: 24px;
	width: 180px;
	padding: 0 5px;
	margin: 0;
	color: #ccc;
	font-size: 12px;
	font-variant: normal;
	border: none;	
	background: none;
}

#tooplate_search .sub_btn {
	float: right;
	display: block;
	height: 24px;
	width: 60px;
	cursor: pointer;
	border: none;
	background: none;	
}

.product h1, .product h2 {
	margin-left: 20px;
}
.product .product_box {
	float: left;
	width: 170px;
	background: #eae7e3;
	border: 1px solid #fff;
	margin: 15px;
	padding: 15px;
}
.product .product_box .img_box {
	width: 160px;
	height: 148px;
	padding: 5px;
	text-align: center;
	background: #fff;
	margin-bottom: 15px;
	position: relative;
}
.product .product_box .img_box span {
	position: absolute;
	width: 170px;
	height: 12px;
	bottom: -12px;
	left: 0;
	background: url(images/image_frame.png) center top no-repeat
}
#tooplate_main .product .product_box h2 {
	margin: 0 0 10px 0;
}

.product .product_box h2 a {
	font-weight: bold;
	color: #666;
	font-size: 14px;	
	text-transform: uppercase
}
.product .price {
	font-size: 30px;
	color: #dbc400;
	font-weight: 700;
	font-family: "MS Serif", "New York", serif;
}

.product .price span {
	font-family: Verdana, Geneva, sans-serif;
	display: inline-block;
	margin-left: 20px;
	font-size: 11px;
	font-weight: 400;
	color: #8f7b76
}
.product .price strong { color: #842c1b }

.product .add_to_cart { display: block; float: left; margin-right: 20px; line-height: 18px; }
#tooplate_main .product .product_detail h1 { margin: 0 0 30px 0; padding: 5px 0 }

#tooplate_main .product .product_preview {
	width: 405px;
	padding: 14px;
	border: 1px solid #ccc
}

#tooplate_main .product .product_preview ul {
	width: 130px;
	float: right;
}
#tooplate_main .product .product_preview ul li {
	display: block;
}
#tooplate_main .product .product_preview ul li img {
	padding: 1px;
	border: 1px solid #eee
}

.sidebar_section {
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 2px;
	background: url(images/tooplate_menu_divider.jpg) repeat-x top
}

.sidebar_link_list {
	margin: 0;
	padding: 0;
	list-style: none
}
.sidebar_link_list li {
	margin: 0;
	padding: 5px 10px;
	border-bottom: 1px dotted #dadada
}

.sidebar_link_list li a {
	color: #333
}

.popular_products li { color: #999; padding: 10px; }
.popular_products li img { float: left; border: 1px solid #fff; margin-right: 10px }
.popular_products li span { display: block; }
.popular_products li span.title { margin-bottom: 5px; font-weight: 700; }
.popular_products li span.price { color: #dbc400; font-size: 14px; font-weight: 700; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif }

#contact_form { padding: 0; margin-bottom: 40px; width: 435px; }

#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field { 
	width: 100%;
	max-width: 300px; 
	padding: 10px; 
	margin-bottom: 20px; 
	color: #808b98;  
	background: #fff; 
	border: 1px solid #dedede; 
}

#contact_form form label { display: block; width: 280px; margin-bottom: 10px; font-size: 13px }

#contact_form form textarea { 
	width: 100%;
	max-width: 400px; 
	height: 200px; 
	padding: 10px; 
	margin-bottom: 10px; 
	color: #808b98; 
	background: #fff; 
	border: 1px solid #dedede; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.submit_btn {
	display: block; 
	padding: 15px 20px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold;  
	background: #9b6150; 
	border: 1px solid #fff; 
	color: #fff; 
	font-size: 13px;
	cursor: pointer;
}

#tooplate_bottom h4 {
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	padding: 5px 0 20px;
}
#tooplate_bottom h5 {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
}
#tooplate_bottom a { color: #fff }
#tooplate_bottom .list_bullet {
	margin: 0;
}

.twitter p { margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #9b6150 }

#tooplate_newsletter { width: 200px; height: 24px; background: url(images/newsletter.png) }
#tooplate_newsletter form {
	margin: 0;
	padding: 0;
}

#tooplate_newsletter .txt_field {
	float: left;
	display: block;
	height: 24px;
	width: 130px;
	padding: 0 5px;
	margin: 0;
	color: #ccc;
	font-size: 12px;
	font-variant: normal;
	border: none;	
	background: none;
}

#tooplate_newsletter .sub_btn {
	float: right;
	display: block;
	height: 24px;
	width: 60px;
	cursor: pointer;
	border: none;
	background: none;	
}

.pagging { margin: 0 15px; padding: 0 }
.pagging ul { margin: 0; padding: 0; list-style: none }
.pagging ul li { margin: 0; padding: 0; display: inline }
.pagging ul li a { 
	float: left; 
	display: block; 
	color: #fff; 
	text-decoration: none; 
	margin-right: 10px; 
	padding: 10px 15px; 
	background: #c58877; 
	border: 1px solid #9b6150;
}
.pagging ul li a:hover { color: #fff; background: #842d1c; border: 1px solid #641c0e }